# Homework for week 2

## Question 1: [IPO] Withdrawn IPOs by Company Type

In [66]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import requests
from io import StringIO

import string

In [67]:
url = "https://stockanalysis.com/ipos/withdrawn/"
response = requests.get(url)
#response.raise_for_status()

        # Wrap HTML text in StringIO to avoid deprecation warning
        # "Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object."
html_io = StringIO(response.text)
df_ipo = pd.read_html(html_io)

In [68]:
df_ipo = df_ipo[0]

In [69]:
df_ipo.shape

(100, 4)

In [70]:
df_ipo.head()

  Symbol                Company Name    Price Range Shares Offered
0   ODTX  Odyssey Therapeutics, Inc.              -              -
1   UNFL      Unifoil Holdings, Inc.  $3.00 - $4.00        2000000
2   AURN        Aurion Biotech, Inc.              -              -
3   ROTR             PHI Group, Inc.              -              -
4    ONE           One Power Company              -              -

In [71]:
def company_class(name):

     # Convert to lowercase and remove punctuation
    name = name.lower()
    name = name.translate(str.maketrans('', '', string.punctuation))
    words = name.split()

    if 'acquisition' in words and ('corp' in words or 'corporation' in words):
        return 'Acq.Corp'
    elif 'inc' in words or 'incorporated' in words :
        return 'Inc'
    elif 'group' in words:
        return 'Group'
    elif 'holdings' in words:
        return 'Holdings'
    elif 'ltd' in words or 'limited' in words:
        return 'Ltd'
    else:
        return 'Other'

In [72]:
df_ipo["Company Class"] = df_ipo["Company Name"].apply(company_class)

In [73]:
df_ipo['Company Class'].value_counts()

Company Class
Inc         51
Acq.Corp    21
Ltd         12
Other        6
Holdings     6
Group        4
Name: count, dtype: int64

In [ ]:
#average price function
def average_price(price_str):
    if pd.isna(price_str) or price_str == '-':
        return None
    # Remove dollar sign and split by hyphen if present
    price_str = price_str.replace('$', '').strip()
    if '-' in price_str:
        prices = price_str.split('-')
        return np.mean([float(p.strip()) for p in prices])
    else:
        return float(price_str)

In [75]:
df_ipo["Avg. price"] = df_ipo['Price Range'].apply(average_price)
df_ipo

,Symbol,Company Name,Price Range,Shares Offered,Company Class,Avg. price
0,ODTX,"Odyssey Therapeutics, Inc.",-,-,Inc,NaN
1,UNFL,"Unifoil Holdings, Inc.",$3.00 - $4.00,2000000,Inc,3.5
2,AURN,"Aurion Biotech, Inc.",-,-,Inc,NaN
3,ROTR,"PHI Group, Inc.",-,-,Inc,NaN
4,ONE,One Power Company,-,-,Other,NaN
...,...,...,...,...,...,...
95,FHP,"Freehold Properties, Inc.",-,-,Inc,NaN
96,CHO,Chobani Inc.,-,-,Inc,NaN
97,IFIT,iFIT Health & Fitness Inc.,$18.00 - $21.00,30769231,Inc,19.5
98,GLGX,"Gerson Lehrman Group, Inc.",-,-,Inc,NaN
99,HCG,hear.com N.V.,$17.00 - $20.00,16220000,Other,18.5

In [ ]:
#Convert Shares Offered to numeric, clean missing or invalid values
df_ipo['Shares Offered'] = pd.to_numeric(df_ipo['Shares Offered'], errors='coerce')

In [77]:
#Withdrawn Value = Shares Offered * Avg Price 
df_ipo['Withdrawn Value'] = df_ipo['Shares Offered'] * df_ipo['Avg. price']

In [79]:
df_ipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Symbol           100 non-null    object
 1   Company Name     100 non-null    object
 2   Price Range      100 non-null    object
 3   Shares Offered   72 non-null     float64
 4   Company Class    100 non-null    object
 5   Avg. price       73 non-null     float64
 6   Withdrawn Value  71 non-null     float64
dtypes: float64(3), object(4)
memory usage: 5.6+ KB

In [80]:
#Group by Company Class and calculate total withdrawn value
df_ipo.groupby('Company Class')['Withdrawn Value'].sum().sort_values(ascending=False).reset_index()

  Company Class  Withdrawn Value
0      Acq.Corp     4.021000e+09
1           Inc     2.257164e+09
2         Other     7.679200e+08
3           Ltd     3.217346e+08
4      Holdings     3.030000e+08
5         Group     3.378750e+07

## Question 2: [IPO] Median Sharpe Ratio for 2024 IPOs (First 5 Months)

In [82]:
# IPO data for 2024
url_2024 = "https://stockanalysis.com/ipos/2024/"
response = requests.get(url_2024)  
html_io = StringIO(response.text)
df_ipo_2024 = pd.read_html(html_io)

In [84]:
df_ipo_2024 = df_ipo_2024[0]
df_ipo_2024.head()

,IPO Date,Symbol,Company Name,IPO Price,Current,Return
0,"Dec 31, 2024",ONEG,OneConstruction Group Limited,$4.00,$3.45,-17.50%
1,"Dec 27, 2024",PHH,"Park Ha Biological Technology Co., Ltd.",$4.00,$18.70,367.50%
2,"Dec 23, 2024",HIT,"Health In Tech, Inc.",$4.00,$0.58,-85.44%
3,"Dec 23, 2024",TDAC,Translational Development Acquisition Corp.,$10.00,$10.25,2.48%
4,"Dec 20, 2024",RANG,Range Capital Acquisition Corp.,$10.00,$10.45,4.50%

In [ ]:
#Filter to keep only those IPOs before 1 June 2024 (first 5 months of 2024)
df_ipo_2024['IPO Date'] = pd.to_datetime(df_ipo_2024['IPO Date'])
df_ipo_2024 = df_ipo_2024[df_ipo_2024['IPO Date'] < '2024-06-01'].reset_index(drop=True)

In [ ]:
df_ipo_2024

,IPO Date,Symbol,Company Name,IPO Price,Current,Return
0,2024-05-31,NAKA,"Kindly MD, Inc.",-,$11.60,-
1,2024-05-23,BOW,Bowhead Specialty Holdings Inc.,$17.00,$34.92,105.41%
2,2024-05-17,HDL,Super Hi International Holding Ltd.,$19.56,$21.00,7.36%
3,2024-05-17,RFAI,RF Acquisition Corp II,$10.00,$10.52,5.20%
4,2024-05-15,JDZG,JIADE Limited,$4.00,$0.29,-92.75%
...,...,...,...,...,...,...
72,2024-01-18,CCTG,CCSC Technology International Holdings Limited,$6.00,$1.10,-81.67%
73,2024-01-18,PSBD,Palmer Square Capital BDC Inc.,$16.45,$13.93,-15.32%
74,2024-01-12,SYNX,Silynxcom Ltd.,$4.00,$1.72,-57.00%
75,2024-01-11,SDHC,Smith Douglas Homes Corp.,$21.00,$20.19,-3.86%
76,2024-01-09,ROMA,Roma Green Finance Limited,$4.00,$2.77,-30.75%

In [94]:
ALL_TICKERS = df_ipo_2024['Symbol'].unique()
len(ALL_TICKERS)

77

In [95]:
import yfinance as yf
import time

In [106]:
# download daily stock data
stocks_df = pd.DataFrame({'A' : []})

for i,ticker in enumerate(ALL_TICKERS):
  print(i,ticker)

  # Work with stock prices
  ticker_obj = yf.Ticker(ticker)

  historyPrices = ticker_obj.history(
                     period = "max",
                     interval = "1d")

  # generate features for historical prices, and what we want to predict
  historyPrices['Ticker'] = ticker
  historyPrices['Year']= historyPrices.index.year
  historyPrices['Month'] = historyPrices.index.month
  historyPrices['Weekday'] = historyPrices.index.weekday
  historyPrices['Date'] = historyPrices.index.date

  # historical returns
  for i in [1,3,7,30,90,252,365]:
    historyPrices['growth_'+str(i)+'d'] = historyPrices['Close'] / historyPrices['Close'].shift(i)
  historyPrices['growth_future_30d'] = historyPrices['Close'].shift(-30) / historyPrices['Close']

  # Technical indicators
  # SimpleMovingAverage 10 days and 20 days
  historyPrices['SMA10']= historyPrices['Close'].rolling(10).mean()
  historyPrices['SMA20']= historyPrices['Close'].rolling(20).mean()
  historyPrices['growing_moving_average'] = np.where(historyPrices['SMA10'] > historyPrices['SMA20'], 1, 0)
  historyPrices['high_minus_low_relative'] = (historyPrices.High - historyPrices.Low) / historyPrices['Close']

  # 30d rolling volatility : https://ycharts.com/glossary/terms/rolling_vol_30
  historyPrices['volatility'] =   historyPrices['Close'].rolling(30).std() * np.sqrt(252)

  # what we want to predict
  historyPrices['is_positive_growth_30d_future'] = np.where(historyPrices['growth_future_30d'] > 1, 1, 0)

  # sleep 1 sec between downloads - not to overload the API server
  time.sleep(1)


  if stocks_df.empty:
    stocks_df = historyPrices
  else:
    stocks_df = pd.concat([stocks_df, historyPrices], ignore_index=True)

0 NAKA
1 BOW
2 HDL
3 RFAI
4 JDZG
5 RAY
6 BTOC
7 ZK
8 GPAT
9 PAL
10 SVCO
11 NNE
12 CCIX
13 VIK
14 ZONE
15 LOAR
16 MRX
17 RBRK
18 NCI
19 MFI
20 YYGH
21 TRSG
22 CDTG
23 CTRI
24 IBTA
25 MTEN
26 SUPX
27 TWG
28 ULS
29 PACS
30 MNDR
31 CTNM
32 MAMO
33 ZBAO
34 BOLD
35 MMA
36 UBXG
37 IBAC
38 AUNA
39 BKHA
40 LOBO
41 RDDT
42 ALAB
43 INTJ
44 RYDE
45 LGCL
46 SMXT
47 VHAI
48 DYCQ
49 CHRO
50 UMAC
51 HLXB
52 MGX
53 TBBB
54 TELO
55 KYTX
56 PMNT
57 AHR
58 LEGT
59 ANRO
60 GUTS
61 AS
62 FBLG
63 AVBP
64 BTSG
65 HAO
66 CGON
67 YIBO
68 JL
69 SUGP
70 JVSA
71 KSPI
72 CCTG
73 PSBD
74 SYNX
75 SDHC
76 ROMA

In [110]:
stocks_df['Ticker'].nunique()

77

In [111]:
stocks_df.head().transpose()

,0,1,2,3,4
Open,4.0,2.99,2.53,2.91,2.94
High,4.2,3.11,3.11,3.09,2.94
Low,2.8,2.35,2.41,2.6,2.41
Close,3.02,2.66,2.92,2.73,2.69
Volume,440600,147300,73800,51100,56500
Dividends,0.0,0.0,0.0,0.0,0.0
Stock Splits,0.0,0.0,0.0,0.0,0.0
Ticker,NAKA,NAKA,NAKA,NAKA,NAKA
Year,2024,2024,2024,2024,2024
Month,5,6,6,6,6
Weekday,4,0,1,2,3
Date,2024-05-31,2024-06-03,2024-06-04,2024-06-05,2024-06-06
growth_1d,NaN,0.880795,1.097744,0.934931,0.985348
growth_3d,NaN,NaN,NaN,0.903974,1.011278
growth_7d,NaN,NaN,NaN,NaN,NaN
growth_30d,NaN,NaN,NaN,NaN,NaN
growth_90d,NaN,NaN,NaN,NaN,NaN
growth_252d,NaN,NaN,NaN,NaN,NaN
growth_365d,NaN,NaN,NaN,NaN,NaN
growth_future_30d,0.784768,0.883459,0.955479,1.051282,1.111524
SMA10,NaN,NaN,NaN,NaN,NaN
SMA20,NaN,NaN,NaN,NaN,NaN
growing_moving_average,0,0,0,0,0
high_minus_low_relative,0.463576,0.285714,0.239726,0.179487,0.197026
volatility,NaN,NaN,NaN,NaN,NaN
is_positive_growth_30d_future,0,0,0,1,1
Sharpe,NaN,NaN,NaN,NaN,NaN

In [112]:
#Calculate the Sharpe ratio assuming a risk-free rate of 4.5%:

stocks_df['Sharpe'] = (stocks_df['growth_252d'] - 0.045) / stocks_df['volatility']

In [135]:
#Filter the DataFrame to keep data only for the trading day '2025-06-06'
stocks_df = stocks_df[stocks_df['Date'].astype(str) == '2025-06-06'].reset_index(drop=True)

In [136]:
stocks_df[['growth_252d', 'Sharpe']].describe()

       growth_252d     Sharpe
count    73.000000  73.000000
mean      1.227946   0.297523
std       1.480238   0.523190
min       0.024970  -0.079677
25%       0.293510   0.040265
50%       0.763188   0.083768
75%       1.446667   0.331967
max       8.097413   2.835668

In [137]:
#top 10 companies when sorting by growth_252d versus sorting by Sharpe
top_growth = stocks_df[['Ticker', 'growth_252d', 'Sharpe']].sort_values(by='growth_252d', ascending=False).head(10)
top_sharpe = stocks_df[['Ticker', 'Sharpe', 'growth_252d']].sort_values(by='Sharpe', ascending=False).head(10)

In [138]:
top_growth

   Ticker  growth_252d    Sharpe
68     JL     8.097413  0.566222
76   ROMA     6.156406  0.486840
0    NAKA     5.438356  0.039408
50   UMAC     4.966533  0.421306
11    NNE     4.655224  0.080707
17   RBRK     3.184065  0.019051
57    AHR     2.483097  0.112576
61     AS     2.478203  0.028026
26   SUPX     2.346065  0.266389
16    MRX     2.300384  0.076540

In [139]:
top_sharpe

   Ticker    Sharpe  growth_252d
39   BKHA  2.835668     1.045881
70   JVSA  2.041531     1.071076
58   LEGT  1.940267     1.049407
37   IBAC  1.637119     1.044611
18    NCI  1.181375     0.572687
51   HLXB  1.123493     1.061404
30   MNDR  0.974234     1.030769
48   DYCQ  0.969321     1.059863
43   INTJ  0.744512     0.661386
68     JL  0.566222     8.097413